:root {
    --pale: #ffff;
    --blue: #2E4374;
  }
img.framed {
    box-shadow:
      -50px -50px 0 -40px var(--pale),
      50px 50px 0 -40px var(--pale);
  }

  img.framed2 {
    box-shadow:
      -50px -50px 0 -40px var(--blue),
      50px 50px 0 -40px var(--blue);
  }

#id{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

  .player-wrapper {
    width: fit-content; 
    height: fit-content; 
  }

  #perkenalan{
    color: whitesmoke;
  }

.trait{
    background-color: antiquewhite;
    width: fit-content;
    height: 10%;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10px;
    align-content: center;
}

.box{
    border-radius: 20px;
    background-color: whitesmoke;
    width: 1%;
}

.point{
    background-color: #ffff;
    border-radius: 20px;
    width: 200px;
    text-align: left;
    box-shadow: 10px 10px;
}

.bg{
    background-image: linear-gradient(-90deg, #2E4374 50%, black 50%);
    z-index:-1;
}

html{
  background-color: black;
}

.point:hover{
  transform: scale(1.05);
  background-color: black;
  color: whitesmoke;
  box-shadow: 5px 5px #888;
}

#textAdd{
  -webkit-text-stroke: 1.2px black;
  color: white;
  font-size:40px;
  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;  
}
#textAdd.animate {
  -webkit-animation: none;
  animation: none;
  /* Tambahkan animasi kembali di sini jika diperlukan */
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}


#textEnd{
  -webkit-text-stroke: 1.2px black;
  color: white;
  font-size:40px
}

#bawah1{
  border-bottom: black 0.2px solid;
  width: 30%;
}


#bawah2{
  border-bottom: black 0.2px solid;
  width: 20%;
}