:root {
    --pale: #ffff;
    --blue: #2E4374;
  }
img.framed {
    box-shadow:
      -50px -50px 0 -40px var(--pale),
      50px 50px 0 -40px var(--pale);
  }

  img.framed2 {
    box-shadow:
      -50px -50px 0 -40px var(--blue),
      50px 50px 0 -40px var(--blue);
  }

#id{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

  .player-wrapper {
    width: fit-content; 
    height: fit-content; 
  }

  #perkenalan{
    color: whitesmoke;
  }

.trait{
    background-color: antiquewhite;
    width: fit-content;
    height: 10%;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 10px;
    align-content: center;
}

.box{
    border-radius: 20px;
    background-color: whitesmoke;
    width: 1%;
}

.point{
    background-color: #ffff;
    border-radius: 20px;
    width: 200px;
    text-align: left;
    box-shadow: 10px 10px;
}

.bg{
    background-image: linear-gradient(-90deg, #2E4374 50%, black 50%);
    z-index:-1;
}

html{
  background-color: black;
}